.cart-wrapper {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.cart-wrapper-items {
  display: flex;
  align-items: center;
  background-color: aquamarine;
  font-size: larger;
}
.cart-item-name {
  margin: 1rem;
  width: 30%;
}

.cart-image {
  width: 2%;
  height: 50%;
  margin: 0 1%;
}
.cart-item-quantity {
  display: inline-block;
  height: fit-content;
  width: 20%;
  margin-right: 1%;
}
.plus-minus {
  width: 35px;
  margin: 0 3%;
  font-size: larger;
}
.cart-price {
  width: 20%;
}
.cart-total {
  width: 20%;
}
.cart-item-quantity {
  text-align: center;
}
.totalAmount {
  display: flex;
  justify-content: end;
  margin-right: 1rem;
}

/* MEDIA QUERY */
@media only screen and (max-width: 3000px) {
  .cart-item-quantity1 {
    display: flex;

    width: 30%;
    margin-right: 10%;
    align-items: center;
  }
  .cart-image {
    ma-width: 5%;
  }
  .cart-price {
    margin-left: -15%;
  }
}

@media only screen and (max-width: 500px) {
  .cart-image {
    display: none;
  }
  .cart-item-name {
    font-size: smaller;
    min-width: 20%;
  }
  .plus-minus {
    font-size: 30px;
    padding: 5px;
    width: 80%;
  }
  .cart-item-quantity {
    min-width: 50%;
    text-align: center;
    margin-right: -10%;
  }
  .cart-price {
    margin-left: 0.1%;
  }
  .cart-total {
    min-width: 30%;
  }
}
